/*html,body{height: 100%;}
body{min-height: 100%;}*/

body{font-family: 'AvenirLTStd'; color: #000;}
img{max-width: 100%;height: auto;}

/* ======================
=== General
========================= */
.social-links{list-style: none;margin: 0;padding: 0;font-size: 14px;}
.social-links li{display: inline-block;margin-left: 10px;}
.social-links li:first-child{margin-left: 0;}
.social-links li a{color: #9c9ca0;}
.social-links li a:hover{color: #000;}

.btn{border-radius: 0;padding: 10px 12px 6px 12px;}
.btn-white{background-color: #FFF;color: #9c9ca0;}


/* ======================
=== Header
========================= */
#header{padding: 20px 5px;position: relative;background-color: #FFF;}
#header .logo{max-width: 215px;display: inline-block;} /*220*/

#header .mobile-menu-toggle-link{font-size: 30px;position: absolute;right: 15px;top: 16px;color: #9c9ca0;text-decoration: none;display: none;}

#header .header-right-wrapper{float: right;padding-top: 8px;}

#header .main-navigation{position: absolute;left: 0;right: 0;top: 50%;text-align: center;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);z-index: 10;}

#header .main-navigation ul{list-style: none;margin: 0;padding: 2px 0 0;}
#header .main-navigation ul li{display: inline-block;margin-left: 40px;}
#header .main-navigation ul li:first-child{margin-left: 0;}
#header .main-navigation ul li a{color: #9c9ca0;font-size: 15px;}
#header .main-navigation ul li:hover a,
#header .main-navigation ul li.current-menu-item a{color: #000000;text-decoration: none;}
#header .main-navigation ul li.current-menu-item a{font-family: AvenirLTStd-Heavy;}

#header .mobile-menu-wrapper{float: right;}

#header .overlay-menu{z-index: 20;position: relative;}

.header-fixed #header{position: fixed;top: 0;left: 0;right: 0;z-index: 200;}

.transition-0 {transition: 0ms !important;}
#work-carousel {opacity: 0; transition: 1s;}
/* ======================
=== Footer
========================= */
#footer{background-color: #000000;padding: 13px 0; position: relative; z-index: 2;}
#footer p:last-child{margin-bottom: 0;}
#footer, #footer a{color: #9c9ca0;}


/* ======================
=== Blocks
========================= */
.article-item{position: relative;overflow: hidden;}
.article-item img{width: 100%;}
.article-item .article-info, .video-item .article-info{position: absolute;left: 0;right: 0;bottom: 0;padding: 8px 10px 5px 10px;background-color: #FFF;font-size: 10px;visibility: hidden;}
.article-info.mob{position: relative;}
.article-item .article-info ul, .video-item .article-info ul{list-style: none;margin: 0;padding: 0;}
.article-item .article-info ul li, .video-item .article-info ul li{color: #9c9ca0;text-transform: uppercase;}
.article-item .article-info ul li span, .video-item .article-info ul li span{text-transform: none;color: #000;font-family: 'AvenirLTStd-Heavy';}

.video-item{position: relative;cursor: pointer;display: block;}
.video-item .video-container{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.video-item .video-container .video-js,
.video-item .video-container video{position: absolute;top: 0;left: 0;width: 100%!important;height: 100%!important;}

.video-js:before{width: 70px;height: 70px;border-radius: 50%;margin-left: -35px;margin-top: -35px;z-index: 20;font-family: 'FontAwesome';font-size: 56px;color: #FFF;position: absolute;top: 50%;left: 50%;line-height: 0.9;text-align: center;}
.video-js.vjs-paused:before,
.video-js:not(.vjs-has-started):before{content:"\f144";}
.video-js.vjs-paused:before,
.video-js:not(.vjs-has-started):before{
    content:'';
    background: url("../images/video-pointer.png") no-repeat center;
    background-size: contain;
}
.video-js.vjs-paused:before,
.video-js:not(.vjs-has-started):before {
    display: none;
}

/* ======================
=== Page Content
========================= */
.page-content-wrapper{/*background-color: red;height: 1000px;*/}
.page-content-wrapper .page-content-wrapper-inner{position: relative;/*height: 100%;*/}
.header-fixed .page-content-wrapper{padding-top: 71px;/*min-height: 100%;height: 100%;*/}

.page-content-wrapper .content-inner-page-wrapper{position: absolute;top: 0;left: 0;right: 0;background-color: #FFF;padding-bottom: 17px;z-index: 100;}
.page-content-wrapper .content-inner-page-wrapper .page-content-inner{/*max-height: 500px;overflow: auto;overflow-x: hidden;*/}


.list-articles-wrapper{width: 100%;/*height: 100%;*/}
.list-articles-wrapper .article-column{width: 20%;float: left;position: relative;/*min-height: 100%;*/overflow: hidden;}
.list-articles-wrapper .article-column .category-name{/*padding: 15px 0;*/text-align: center;color: #FFF;font-family: 'AvenirLTStd-Heavy';position: fixed;z-index: 30;/*visibility: hidden;*/text-decoration: none;white-space: nowrap;overflow: hidden;font-size: 0;padding: 0;bottom: 0;}
.list-articles-wrapper .article-column .category-name span{background-color: #c20430;display: block;margin: 0 5px;text-overflow: ellipsis;-webkit-transition: all 0.5s ease-out;}
.list-articles-wrapper .article-column:hover .category-name{/*visibility: visible;*/}
.list-articles-wrapper .article-column:hover .category-name span{font-size: 14px;padding: 15px 0;}
.list-articles-wrapper .article-column .article-column-inner{position: relative;}
.list-articles-wrapper .article-column .article-column-inner .alert{margin: 0 5px;}
.list-articles-wrapper .article-column .article-column-inner .mobile-close-accordion{height: 50px;width: 100%;position: absolute;left: 0;right: 0;bottom: 0;text-align: center;font-size: 25px;line-height: 61px;display: none;color: #9c9ca0;text-decoration: none;}


/* ======================
=== Integration
========================= */
.mobile-carousel-box img{width: 100%;}
.mobile-carousel-box{position: relative;}
.mobile-carousel-box .owl-controls{margin-top: 0;position: absolute;left: 0;right: 0;bottom: 10px;z-index: 100;}
.mobile-carousel-box .owl-controls .owl-page span{border-radius: 0;background-color: #9c9ca0;margin: 3px;}
.mobile-carousel-box .owl-controls .owl-page.active span{background-color: #FFF;}

.cursor-pointer {cursor: pointer;}
.cursor-pointer .article-column {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
#page-content{display: none;}
.content-inner-page-wrapper{position: relative;min-height: 50px;}
.content-inner-page-wrapper .close-popup-link{color: #9c9ca0;text-decoration: none;font-size: 30px;position: absolute;top: -5px;right: 15px; z-index: 11;}

/* Page: Contact */
.contact-table{display: table;width: 100%;}
.contact-table > div{display: table-cell;vertical-align: bottom;}
.contact-table > div:first-child{width: 20%;}

.contact-columns-wrapper{margin-bottom: 58px;}

/* Page: Clients */
.clients-list{text-align: center;list-style: none;margin: 0;padding: 0;}
.clients-list:after{content: "";display: block;clear: both;}
.clients-list li{width: 16.6666%;/*float: left;min-height: 140px;*/padding: 19px 20px;vertical-align: middle;display: inline-block;}

/* Page: Single Work */
.work-carousel-box .owl-item{text-align: center;}
.work-carousel-box .owl-item img{height: 537px;}

.work-carousel-thumbnails-box{position: relative;/*padding: 0 30px;*/ margin-top: 5px;}
.work-carousel-thumbnails-box .owl-item {
    max-width: 42px;
}
.work-carousel-thumbnails-box .owl-item .item{margin: 0 1px;position: relative;}
.work-carousel-thumbnails-box .owl-item .item:before{display: block;left: 0;right: 0;top: 0;bottom: 0;background-color: rgba(255, 255, 255, 0.5);position: absolute;}
.work-carousel-thumbnails-box .owl-item.synced .item:before{content: "";}
.work-carousel-thumbnails-box .owl-controls{margin-top: 0;}
.work-carousel-thumbnails-box .owl-controls .owl-buttons{}
.work-carousel-thumbnails-box .owl-controls .owl-buttons > div{position: absolute;top: 50%;opacity: 1;margin: 0;padding: 0;background: none;color: #9c9ca0;font-size: 22px;line-height: 1;margin-top: -13px;}
.work-carousel-thumbnails-box .owl-controls .owl-buttons > div.owl-prev{left: 0;}
.work-carousel-thumbnails-box .owl-controls .owl-buttons > div.owl-next{right: 0;}

.work-description-columns-wrapper{margin-top: 20px;}
.work-description-columns-wrapper .work-info .meta-data{text-transform: uppercase;color: #9c9ca0;font-size: 12px;}
.work-description-columns-wrapper .work-info .meta-data span{text-transform: none;color: #000;}

.get-in-touch-wrapper{margin-top: 36px;margin-bottom: -17px;background-color: #9c9ca0;color: #FFF;padding: 10px 0;display: none;}
.get-in-touch-wrapper p:last-child{margin-bottom: 0;}
.get-in-touch-wrapper .btn{margin: 5px;}

.custom-slide-image-wrapper{position: relative;}

.slide-manage-buttons-wrapper{position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 10; height: 85%;}
.slide-manage-buttons{display: table;width: 100%;height: 100%;}
/* .slide-manage-buttons a{display: table-cell;width: 50%;height: 100%;font-size: 30px;text-decoration: none;color: #9c9ca0;} */
.slide-manage-buttons a {display: block; width: 25%; height: 100%; font-size: 30px; text-decoration: none; color: #9c9ca0;}
.slide-manage-buttons a:nth-child(1) {float: left;}
.slide-manage-buttons a:nth-child(2) {float: right;}
.slide-manage-buttons a:nth-child(1):hover{cursor: url('../images/prev.png') 15 30, auto;}
.slide-manage-buttons a:nth-child(2):hover{cursor: url('../images/next.png') 15 30, auto;}

.template-columns-wrapper{}
.template-columns-wrapper .columns-thumb{margin-bottom: 40px;}

.column-description{overflow: hidden;}
.column-description h2{font-weight: 600;font-size: 23px;margin-top: 10px;margin-bottom: 20px;}
.column-description h4{font-size: 16px;font-weight: 600;margin-bottom: 15px;}
.column-description blockquote{font-size: 14px;padding: 0 15px;border-left-color: #ad2230;}
.column-description blockquote ul{padding-left: 17px;list-style: square; font-size: 14px; color: #000;}
.column-description blockquote > h4{margin-top: 12px;margin-bottom: 18px;}

#dl-loader{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 200;background-color: rgba(255, 255, 255, 1);display: none;}
#dl-loader .loader-inner{position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width: 100px;height: 100px;left: 50%;margin-left: -50px;background-color: #FFF;border-radius: 50%;}
#fancybox-loading {display: none !important;}

address a{color: #000;text-decoration: underline;}
address a:hover{color: #ad2230;}

.login-table{display: table;width: 100%;height: 100%;}
.login-table .login-table-cell{display: table-cell;vertical-align: middle;text-align: center;}

.form-login{}
.form-login .form-group{margin-bottom: 20px; margin-top: 25px;}
.form-login .form-control{border:0;border-bottom: 1px solid #cdcdcf;box-shadow: none;border-radius: 0; padding-right: 0; padding-left: 0; font-size: 15px;}
.form-login .btn{background-color: #9c9ca0;color: #FFF;border-color: #9c9ca0;}
.form-login .btn:hover{background-color: #000;border-color: #000;color: #FFF;}
.form-login .form-control, .form-login .btn{height: 40px;}

.login-table-wrapper{padding: 11% 0;}

.mobile-carousel-about-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}
.overlay1 {display: none;}

@media only screen and (min-width : 2000px) {
    #header {padding: 40px 0;}
    #header .container-fluid {padding-left: 1.4%;padding-right: 1.4%;}
    #header .logo {max-width: 396px;}
    #header .main-navigation ul li a {font-size: 24px;}
    #header .main-navigation ul li {margin-left: 75px;}
    #header .header-right-wrapper {padding-top: 20px;}
    #header .social-links {font-size:20px;}
    #header .social-links li {margin-left:23px;}
    .header-fixed .page-content-wrapper {padding-top: 139px;}
    .login-table-wrapper {padding: 15% 0;}
    .form-login .form-control, .form-login .btn {height: 55px;}
    .form-login .form-control {padding: 15px 12px;font-size: 24px;}
    .form-login .form-group {margin-bottom:40px;}
    .btn {font-size: 24px;}
    .container {width:100%;padding: 0 15%}
    .form-login .btn {height: 77px;}
    .contact-table iframe {height: 800px;}
    address {font-size: 22px;line-height: 1.25;}
    .contact-table > div:first-child{width: 16.8%;min-width: 300px;}
    .contact-table > div address:last-child{margin-bottom: 0;}
    .col-md-4 img {width: 100%;}
    .template-columns-wrapper .columns-thumb{margin-bottom: 100px;}
    .column-description h2 {font-size: 30px;letter-spacing: 1px; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
    .column-description h4{font-size: 24px;margin-bottom: 33px;}
    .column-description p, .column-description li {font-size: 22px;}
    .column-description blockquote {padding: 0 15px 0 30px;}
    .content-inner-page-wrapper .close-popup-link {font-size: 52px; right: 30px}
    .get-in-touch-wrapper{padding: 24px 0;}
    .get-in-touch-wrapper p:last-child{font-size: 24px;}
    .get-in-touch-wrapper .btn {margin-left: 28px;padding: 19px 30px 15px 30px;}
    .column-description blockquote ul{padding:0;list-style: none; }
    .column-description blockquote ul li {background: url(../images/Rectangle.png) no-repeat left 45%;padding-left: 26px;}
    .template-columns-wrapper .col-md-5, .template-columns-wrapper .col-md-4, .template-columns-wrapper .col-md-3{padding-right: 10px; padding-left: 10px;}
    .template-columns-wrapper .row {margin-right: -10px;margin-left: -10px;}
    .template-columns-wrapper .columns-thumb img {max-height: 340px;}
}

@media only screen and (min-width: 1281px) and (max-width: 1999px) {
	#page-content {height: 740px; min-height: 0;}
    #header .container-fluid {padding-left: 25px;padding-right: 25px;}
    #header .main-navigation ul li a {font-size: 14px;}
    #header .social-links li {margin-left:15px;}
    .container {width:100%;padding: 0 15%}
    .login-table-wrapper {/* padding: 15% 0; */ padding: 170px 0 175px 0;}
/* 	.custom-slide-image-wrapper {padding-top: 50px;}
 	.work-description-columns-wrapper {padding-bottom: 49px;} */
	.contact-columns-wrapper {margin-bottom: 94px; margin-top: 94px;}
	.work-carousel-box .owl-item img {height: 649px;}
    .form-login .form-group{margin-top: 25px;}
    .contact-table iframe {height: 568px;}
    .contact-table > div:first-child{width: 17.3%; min-width: 160px;}
    address {font-size: 13px;line-height: 1.25;}
    .contact-table > div address:last-child{margin-bottom: 0;}
    .column-description .col-lg-7.col-md-7.col-sm-8 {padding-left: 0}
    .column-description h2 {letter-spacing: 1px; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
    .column-description h4 {font-size: 15px;}
    .column-description blockquote {padding-right: 0;}
    .column-description blockquote ul{padding:0;list-style: none; }
    .column-description blockquote ul li {position: relative; background: url(../images/list_pointer.png) no-repeat left 7px; padding-left: 17px; }
}

@media only screen and (max-width : 1280px) and (min-width : 991px) {
	#page-content {height: 628px; min-height: 0;}
    #header .main-navigation ul{padding: 0;}
    #header .main-navigation ul li{display: inline-block;margin-left: 27px;}
    #header .main-navigation ul li a{font-size: 11px;}
    #header .header-right-wrapper {padding-top: 5px;}
    #header .logo {max-width: 150px;}
    .container {width:100%;padding: 0 15%}
    .social-links {font-size: 11px;}
    .form-login .form-control, .form-login .btn {height: 30px;}
    .form-login .form-control{font-size: 11px;}
    .btn {padding:7px 12px 5px 12px; font-size: 11px;}
    .form-login {width: 230px;margin: 0 auto;}
    .form-login .form-group{margin-top: 20px;}
    .login-table-wrapper{padding: 12% 0;}
    .contact-table iframe {height: calc(100vh - 30px);max-height:450px;}
    .contact-table > div:first-child{width: 17.3%;min-width: 154px;}
    address {font-size: 12px;line-height: 1.25;}
    .contact-table > div address:last-child{margin-bottom: 0;}
    .column-description .col-lg-7.col-md-7.col-sm-8 {padding-left: 0}
    .column-description h2 {font-size:20px;letter-spacing: 1px; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
    .column-description h4 {font-size: 12px;}
    .column-description blockquote {padding-right: 0;}
    .column-description p, .column-description li {font-size: 12px;}
    .get-in-touch-wrapper p:last-child{font-size: 12px;}
    .get-in-touch-wrapper .btn {font-size: 12px;}
    .template-columns-wrapper .col-md-5, .template-columns-wrapper .col-md-4, .template-columns-wrapper .col-md-3{padding-right: 10px; padding-left: 10px;}
    .template-columns-wrapper .row {margin-right: -10px;margin-left: -10px;}
}

@media only screen and (min-width : 992px) {
	.modal-opened .overlay1 {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		z-index: 1;
	}
    .list-articles-wrapper .article-column .article-column-inner,
    #header .mobile-menu-wrapper{display: block!important;}

    #header{
        padding-bottom: 25px;
    }

    .col-md-3, .col-md-4, .col-md-5 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .content-inner-page-wrapper > .container {
        /* width: 980px; */
		max-width: 1400px;
        padding-left: 0;
        padding-right: 0;
    }
    .template-columns-wrapper .row {margin-right: -10px;margin-left: -10px;}

    .contact-table{
        display: block;
    }
    .contact-table > div{
        display: inline-block;
        vertical-align: bottom;
    }
    #contact-map {
        height: 535px !important;
        width: 82% !important;
    }
}

@media only screen and (max-width : 991px) {
    .social-links{font-size: 25px;}

    .clients-list li{width: 25%;}

    .article-item .article-info, .video-item .article-info{visibility: visible!important;top: auto!important;bottom: 0!important;}

    .list-articles-wrapper .article-column{width: 100%;border-top: 1px solid #FFF;}
    .list-articles-wrapper .article-column:first-child{border-top-width: 0;}
    .list-articles-wrapper .article-column .category-name{position: relative!important;display: block!important;visibility: visible!important;top: auto!important;bottom: auto!important;width: auto!important;padding: 0;font-size: 14px;}
    .list-articles-wrapper .article-column .category-name span{padding: 15px 0;font-size: 14px;margin: 0;}
    .list-articles-wrapper .article-column .article-column-inner{display: none;padding-bottom: 50px;}
    .list-articles-wrapper .article-column .article-column-inner .mobile-close-accordion{display: block;}

    .page-content-wrapper .content-inner-page-wrapper{padding-top: 30px;}
    .page-content-wrapper .content-inner-page-wrapper .page-content-inner{max-height: none;}

    .content-inner-page-wrapper .close-popup-link{display: none;}

    .modal-opened{}
    .modal-opened .mobile-carousel-wrapper,
    .modal-opened .list-articles-wrapper{display: none;}
    .modal-opened .content-inner-page-wrapper{position: relative;}

    .contact-table,
    .contact-table > div{display: block;}
    .contact-table > div:first-child{width: auto;}

    .contact-columns-wrapper{margin-bottom: 0;}

    #header .mobile-menu-toggle-link{display: block;}

    #header .main-navigation{position: relative;transform: translateY(0%);-moz-transform: translateY(0%);-webkit-transform: translateY(0%);-ms-transform: translateY(0%);}
    #header .main-navigation ul{padding: 0;}
    #header .main-navigation ul li{display: block;margin-left: 0;border-bottom: 1px solid #ebebec;}
    #header .main-navigation ul li:first-child{border-top: 1px solid #ebebec;}
    #header .main-navigation ul li a{display: block;padding: 23px 10px 18px;font-weight: 600;font-family: AvenirLTStd-Heavy;}

    #header .header-right-wrapper{float: none;text-align: center;margin-top: 30px;}

    #header .mobile-menu-wrapper{float: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #FFF;padding: 73px 0;display: none;}

    #mobile-menu-wrapper:after{content: '© Digital Light 2014 Ltd';color: #96969a;font-size:10px;position: relative; top:25px;-webkit-box-align:center;-webkit-box-pack:center;display:-webkit-box;}
    .social-links li{margin-left: 25px;}
    .social-links li:first-child {margin-left: 0;}

    .mobile-menu-opened{overflow: hidden;}
    .mobile-menu-opened #header .mobile-menu-wrapper{display: block;}
    .mobile-menu-opened #header .mobile-menu-toggle-link{z-index: 100;}
    .mobile-menu-opened #header .mobile-menu-toggle-link span:before{content: "\e870";}

    .slide-manage-buttons-wrapper{display: none;}

    .template-columns-wrapper img{width: 100%;}
    .template-columns-wrapper > .row > div{margin-top: 40px;}
    .template-columns-wrapper > .row > div:first-child{margin-top: 0;}

    .work-carousel-box .owl-item img{height: auto;}
    .work-carousel-box .owl-item iframe{height: 370px;}

    /*#contact-map {*/
        /*margin: 0 -15px;*/
        /*width: -webkit-calc(100% + 30px) !important;*/
        /*width: -moz-calc(100% + 30px) !important;*/
        /*width: calc(100% + 30px) !important;*/
    /*}*/

    .video-js:before {
        width: 128px;
        height: 128px;
        margin-left: -64px;
        margin-top: -64px;
    }

    .page-id-36 #footer,
    .modal-opened #footer {
        display: none;
    }
}

@media only screen and (max-width : 767px) {
    .clients-list li{width: 33.3333%;}

    #footer .copyright{text-align: center;margin-top: 20px;}

    .work-carousel-thumbnails-box{margin-top: 20px;}

    .column-description h2 {
        font-size: 70px;
        line-height: 1;
        margin-bottom: 62px;
    }
    .column-description h4 {
        font-size: 35px;
    }
    .column-description p {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 32px;
    }
    .column-description p:last-child {
        margin-bottom: 0;
    }
    .column-description blockquote {
        font-size: 28px;
        line-height: 1.2;
        padding: 32px 0 0;
        border-left: none;
        border-top: 4px solid #ad2230;
    }
    .column-description blockquote > h4 {
        margin-bottom: 15px;
        font-size: 30px;
    }
    .column-description blockquote ul {
        padding-left: 33px;
        list-style: square;
        font-size: 28px;
        line-height: 1.25;
    }

    .video-item .video-container video {
        padding-bottom: 64px;
    }
}

@media only screen and (max-width : 480px) {
    .clients-list li{width: 50%;}

    .login-table-wrapper{padding: 0;}

    .work-carousel-box .owl-item iframe{height: 270px;}
    .get-in-touch-wrapper p:last-child{text-align: left!important;font-size: 13px;margin-top:8px;letter-spacing: 0.3px;}
    .get-in-touch-wrapper .btn{margin: 20px 0 10px;display: block;color: #000;font-size: 13px;}

    .column-description h2 {
        font-size: 56px;
        line-height: 1;
        margin-bottom: 55px;
    }
    .column-description h4 {
        font-size: 32px;
    }
    .column-description p {
        font-size: 26px;
        line-height: 1.2;
    }
    .column-description blockquote ul {
        font-size: 26px;
        line-height: 1.25;
    }
}

@media only screen and (max-width : 767px) and (min-width : 375px) {
    #header .logo {max-width: 75%;}
    #header .mobile-menu-wrapper{padding-top: 82px;}
    #header .mobile-menu-toggle-link{top: 25px;}
    #header .main-navigation ul li a{padding: 27px 10px 23px;}
    #header .main-navigation ul li a{font-size: 19px;letter-spacing: 2px;}
    .social-links{font-size: 30px;}
    #mobile-menu-wrapper:after{font-size: 13px;top:30px;}
    #header .header-right-wrapper{margin-top: 35px;}
    .get-in-touch-wrapper p:last-child{text-align: left!important;font-size: 17px;margin-top:8px;letter-spacing: 0.3px;}
    .get-in-touch-wrapper .btn{margin: 20px 0 10px;display: block;color: #000;font-size: 18px;}
}

.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner{
    display: none;
}
#page-content .close-popup-link {
    top: 0;
}
@media all and (min-width: 991px) and (max-width: 1280px) {
    #page-content .close-popup-link {
        top: -8px;
    }
}