/*
Theme Name: Digital Light
Theme URI: brandinfusion.co.za
Author: Brand Infusion (brandinfusion.co.za)
Author URI: brandinfusion.co.za
Description: The Custom Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: digital_light

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

#header .main-navigation ul li a {text-decoration: none !important;}
#header .main-navigation ul li a:hover {font-family: AvenirLTStd-Heavy;}
#footer a:hover {text-decoration: none; color: #d93942;}
.content-inner-page-wrapper .close-popup-link:hover {color: #000;}
.column-description blockquote ul li {line-height: 1; padding-top: 3px; padding-bottom: 3px;}
.column-description blockquote ul li:last-child {padding-bottom: 0;}
.get-in-touch-wrapper .btn:hover {background: #000; color: #fff;}
.content-inner-page-wrapper .close-popup-link {top: -3px;}
@media only screen and (max-width: 1280px) and (min-width: 991px) {
    .content-inner-page-wrapper .close-popup-link {top: -13px;}
}
@media only screen and (min-width: 992px) {
	#header {padding: 22px 5px;}
}
@media only screen and (max-width: 991px) {
	.list-articles-wrapper .article-column .category-name span,
    .list-articles-wrapper .article-column:hover .category-name span {padding: 23px 0;}
	.article-item .article-info, .video-item .article-info { position: relative; padding: 14px 10px 14px 10px; font-size: 13px;}
	.get-in-touch-wrapper .btn {padding: 10px 12px 9px 12px;}
	.login-table-wrapper {padding-top: 70px; padding-bottom: 90px;}
	#mobile-menu-wrapper::after {
		content: "© Digital Light 2016 Ltd";
		color: rgb(150, 150, 154);
		font-size: 10px;
		position: relative;
		top: 10px;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
	}
	#header .header-right-wrapper {margin-top: 10px;}
	.mobile-menu-opened #header .mobile-menu-wrapper {overflow: auto;}
	
	/* popup video */
	#page-content.content-inner-page-wrapper .close-popup-link {display: block; z-index: 1; top: 5px;}
 /*	.modal-opened .mobile-carousel-wrapper, .modal-opened .list-articles-wrapper {display: block;} */
	#page-content.not-menu .container {position: fixed; overflow: hidden; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: table; width: 100%; padding: 0;}
	#page-content.not-menu .work-description-columns-wrapper {display: none;}
	#page-content.not-menu {z-index: 999; position: fixed; height: 100%; width: 100%; padding: 0;}
	#page-content.not-menu .page-content-wrapper .content-inner-page-wrapper .page-content-inner {display: table-cell; vertical-align: middle;} 
	.video-js.vjs-paused:before, .video-js:not(.vjs-has-started):before, .video-item:before {content: ' '; background: url("http://www.digitallightltd.com/digitallight/wp-content/themes/digitallight/images/video-pointer.png") no-repeat center; background-size: contain; width: 70px; height: 70px; border-radius: 50%; z-index: 20; font-family: 'FontAwesome'; font-size: 56px; color: #FFF; position: absolute; top: 50%; left: 50%; line-height: 0.9; text-align: center; margin: -67px 0 0 -35px;}
	.video-item > img, .video-item > .video-container {-webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;}
	.video-item .video-container {display: none;}
	.video-item > img {display: block; margin: 0 auto;}
}
@media only screen and (max-width: 480px){
	.column-description blockquote ul, .column-description p {font-size: 18px;}
	.get-in-touch-wrapper .btn {font-size: 15px; padding: 12px 0;}
	.column-description blockquote > h4, .column-description h4 {font-size: 24px;}
	#contact-map {height: 260px !important;}
}